<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.People</Namespace>
  <Channel>Stable</Channel>
  <Version>2.0.1</Version>
  <AppName>People</AppName>
  <Executable>app/People.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>people.png</ImageUri>
  <DisplayName>People</DisplayName>
  <Company>Polyjuice</Company>
  <Description>People and Organization contacts management (tested with Starcounter 2.0.3293.3)</Description>
  <VersionDate>2015-08-10T15:33:00Z</VersionDate>
</PackageConfig>