<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Polyjuice.People</Namespace>
  <Channel>Stable</Channel>
  <Version>3.0.2</Version>
  <AppName>People</AppName>
  <Executable>app/People.exe</Executable>
  <ResourceFolder>Content</ResourceFolder>
  <ImageUri>people.png</ImageUri>
  <Company>Polyjuice</Company>
  <DisplayName>People</DisplayName>
  <Description>Sample address book. Manage contact information and define relations between **people** and **organizations**.</Description>
  <VersionDate>2015-11-05T14:41:00Z</VersionDate>
  <Dependency name="Starcounter">~2.1.352</Dependency>
</PackageConfig>